@import "tailwindcss/preflight";
@tailwind utilities;
@tailwind utilities;



@import 'react-toastify/dist/ReactToastify.css';

.active {
    font-weight: bold;
    color: #f97316;
    text-decoration: none;
  }

i:hover{
  cursor: pointer;
}
  